{% extends 'base.html' %}
{% block extrastyle %}
{% endblock extrastyle %}
{% load render_table from django_tables2 %}
{% block content %}

{% for property, table in property_tables.items %}
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ property.name }}</h6>
                        </div>
                        <div class="card-body">
                            {% if table.data %}
                                <div class="table-responsive">
                                    {% render_table table %}
                                </div>
                            {% else %}
                                <p>No tenants for this property</p>
                            {% endif %}
                        </div>
                    </div>
{% endfor %}

{% endblock content %}
