{% extends 'base.html' %}
{% block content %}

<form class="user" id="signup_form" method="post" action="{% url 'account_signup' %}">
                              {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" name="first_name" maxlength="30" required="" id="id_first_name" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="last_name" maxlength="30" required="" id="id_last_name" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                     <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="email" class="form-control form-control-user" name="email" placeholder="Email address"
                                     autocomplete="email" maxlength="320" id="id_email">
                                     </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" name="password2" placeholder="Password (again)" autocomplete="new-password" required="" id="id_password2">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Sign Up &raquo;</button>
                            </form>

{% endblock content %}