{% extends 'base.html' %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
    
        <div class="col-xl-6 col-lg-6 col-md-8">
    
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
    
                        <div class="col-lg-12">
                            <!-- LOGIN FORM -->
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">{% trans "Change Password" %}</h1>
                                </div>
                                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
    </div>
{% endblock content %}
