.card-link {
    text-decoration: none;
    color: inherit;
}

.property-img-size {  
    max-height: 100%;
    object-fit: cover;
}

#hint_id_password1 {
    display: none;
}

input:focus+#hint_id_password1 {
    display: block;
}