{% extends 'base.html' %} 
{% block content %}
{% load static %}
 <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
 </div>
<div class="row">
  {% for property in user.properties.all %}
<div class="col-lg-4">
<a href="{% url 'property' property_id=property.property_id %}" class="card-link">
<div class="card shadow-sm mb-4">
  <div class="card-header py-3">
    {% if "placeholder" in property.featured_image.url %}
                                <img class="card-img-top" src="{% static 'img/property.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ property.featured_image.url }}"
                                    alt="{{ property.name }}">
                                {% endif %}
    <h6 class="m-0 font-weight-bold text-primary">{{ property.name }} id: {{ property.property_id }}</h6>
  </div>
  <div class="card-body">
    {{ property.address }}<br />{{ property.zip_code }} {{ property.city }}
  </div>
</div>
</a>
</div>

{% endfor %}
</div>
 
{% endblock content %}