{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-3">
    <div class="row">
        {% for property in user.properties.all %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="{% url 'property' property_id=property.property_id %}">
                    <div class="image-container">
                        {% if "placeholder" in property.featured_image.url %}
                        <img class="card-img-top" src="{% static 'img/property.jpg' %}"
                            alt="placeholder image" style="height: 300px; object-fit: cover;">
                        {% else %}
                        <img class="card-img-top" src=" {{ property.featured_image.url }}"
                            alt="{{ post.title }}" style="height: 300px; object-fit: cover;">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{ property.name }}</h5>
                        <p class="card-text text-truncate">{{ property.address }}<br />{{ property.zip_code }} {{ property.city }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="#" data-toggle="modal" data-target="#addPropertyModal">
                    <div class="image-container">
                        <img class="card-img-top" src="{% static 'img/property.jpg' %}"
                            alt="placeholder image" style="height: 300px; object-fit: cover;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">Add property!</h5>
                        <p class="card-text text-truncate">Add a new property,<br>
                        To start managing!</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- PropertyEditModal -->
<div class="modal fade" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="addPropertyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPropertyModalLabel">Add Property</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% crispy form form.helper %}
      </div>
    </div>
  </div>
</div>

 
{% endblock content %}

