.card-link {
    text-decoration: none;
    color: inherit;
}

.property-img-size {  
    max-height: 100%;
    object-fit: cover;
}

.help-text-hidden {
    display: none;
}

input:focus+.help-text-hidden {
    display: block;
}