{% extends 'base.html' %}
{% load i18n %} {% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card o-hidden border-0 shadow my-2">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create Maintenance Request</h1>
                            </div>
                            <form class="user" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-primary btn-user btn-block" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card o-hidden border-0 shadow my-2">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Requests</h1>
                            </div>
                            <div class="overflow-auto" style="max-height: 80vh;">
                            {% for r in maintenance %}
                                                <!-- Collapsable Card -->
                                                <div class="card mb-1 py-3 {% if r.status == 0 %}border-left-info{% elif r.status == 1 %}border-left-warning{% elif r.status == 2 %}border-left-success{% elif r.status == 3 %}border-left-danger{% endif %}">
                                                    <!-- Card Header - Accordion -->
                                                    <a href="#collapseCardTransaction{{ forloop.counter }}" class="card-link d-flex align-items-center py-0 px-3" 
                                                        data-toggle="collapse"
                                                        role="button" aria-expanded="{{ forloop.first|yesno:'true,false' }}" aria-controls="collapseCardTransaction{{ forloop.counter }}">
                                                        <h6 class="m-0 font-weight-bold col-11 pr-3"><strong>Status:</strong> {{ r.get_status_display }}<br><br>{{ r.request_date }}</h6>
                                                        <i class="fas fa-angle-down col-1 pl-3"></i>
                                                    </a>
                                                    <!-- Card Content - Collapse -->
                                                    <div class="collapse {% if forloop.first %}show{% endif %}" id="collapseCardTransaction{{ forloop.counter }}">
                                                        <div class="card-body px-3 py-2">
                                                            <hr>
                                                            <p class="mb-0">
                                                                {% if r.urgent == 1 %}
                                                                    <strong class="text-danger">URGENT</strong><br>
                                                                {% endif %}
                                                                <strong>Status:</strong> {{ r.get_status_display }}<br>
                                                                <strong>Location:</strong> {{ r.location }}<br>
                                                                {% if r.scheduled_date %}
                                                                    <strong>Scheduled:</strong> {{ r.scheduled_date }}
                                                                {% endif %}
                                                                <hr>
                                                                <strong>Description:<br></strong>{{ r.description }}<br>
                                                                {% if r.contractor_note %}
                                                                    <hr>
                                                                    <strong class="text-info">Contractor Note:</strong><br>
                                                                    {{ r.contractor_note }}<br><br>
                                                                    <div class="h6 mb-0 text-muted text-xs">/{{ r.contractor }}</div><hr>
                                                                {% endif %}
                                                                
                                                                
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% empty %}
                                                <p>No maintenance requests found.</p>
                                            {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}