{% extends 'base.html' %}
{% load i18n %} {% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="h3 mb-1 text-gray-800">Created by: {{ mr.submitted_by.first_name }} {{ mr.submitted_by.last_name }}</h1>
        <p class="mb-2">{{ mr.request_date }}</p>
    </div>
    {% if mr.status != 2  %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
        Edit Request
    </button>
    {% endif %}
</div>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card o-hidden border-0 shadow my-2">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            {% if mr.urgent == 1 %}
            <h6 class="m-0 font-weight-bold text-danger"><strong>URGENT</strong></h6>
            {% endif %}
            <h6 class="m-0 font-weight-bold"><strong>Status:</strong> {{ mr.get_status_display }}</h6>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-lg-12 p-3">
                    <div>
                                <strong>Request:</strong>
                                <p class="m-2">{{ mr.description }}</p>
                    </div>
                    <hr>
                    {% if mr.contractor_note %}
                    <div>
                                <h6 class="m-0 font-weight-bold text-primary">{{ mr.contractor.first_name }} {{ mr.contractor.last_name }}:</h6>
                                <p class="m-2">{{ mr.contractor_note }}</p>
                    </div>
                    <hr>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card o-hidden border-0 shadow my-2">
            <div class="card-body p-0">
                <div class="pl-5 pr-5 pb-3 pt-5 ">
                    <h6 class="m-0 font-weight-bold text-primary">Property:</h6>
                    <hr>
                    <p class="card-text">
                        <strong>Location:</strong> {{ mr.location }}<br>
                        <strong>Scheduled:</strong> {{ mr.scheduled_date }}<br><br>
                        <strong>Address:</strong><br>{{ mr.property.address }}<br>
                        {{ mr.property.zip_code }} {{ mr.property.city }}<br><br>
                        </p>
                    

                    <h6 class="m-0 font-weight-bold text-primary">Tenant:</h6>
                    <hr>
                    <p class="card-text">
                        <strong>Tenant:</strong> {{ mr.submitted_by.first_name }} {{ mr.submitted_by.last_name }}<br>
                        <strong>Phone:</strong> {{ mr.submitted_by.phone_number }}<br>
                        <strong>Email:</strong> {{ mr.submitted_by.email }}<br><br>
                        </p>

                    <h6 class="m-0 font-weight-bold text-primary">Contractor:</h6>
                    <hr>
                    <p class="card-text">
                        <strong>Contractor:</strong> {{ mr.contractor.first_name }} {{ mr.contractor.last_name }}<br>
                        <strong>Phone:</strong> {{ mr.contractor.phone_number }}<br>
                        <strong>Email:</strong> {{ mr.contractor.email }}<br><br>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Maintenance Request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% crispy form form.helper %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}